body {
    font-family: "Roboto", sans-serif;
    background-color: #F8F8F8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#navBar {
    width: 100vw;
    height: 8vw;
    display: flex;
    justify-content: space-evenly;
    background-color: silver;
}
#navList {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

#navList a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 15vw;
    height: 8vw;
}
#navList a li{
    font-size: 2vw;
    color:black;
    list-style: none;

}

#navList a:hover{
    background-color: aquamarine;
}

.myImage {
    width: 30vw;
    opacity: 1;
    transition: opacity 1s ease-in-out;

}

.myImage.hidden {
    opacity: 0;

}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #666;
    background-color: #f5f5f5;
}

